{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="product">{{ form.product.label }}</label>
        {{ form.product(id="product") }}

        <label for="count">{{ form.count.label }}</label>
        {{ form.count(id="count") }}

        <label for="price">{{ form.price.label }}</label>
        {{ form.price(id="price") }}

        <label for="discount_percent">{{ form.discount_percent.label }}</label>
        {{ form.discount_percent(id="discount_percent") }}

        <label for="produced_date(format: year-month-day hour:minute:second)">{{ form.produced_date.label }}</label>
        {{ form.produced_date(id="produced_date", type="date") }}

        <label for="last_date(format: year-month-day hour:minute:second)">{{ form.last_date.label }}</label>
        {{ form.last_date(id="last_date", type="date") }}
       <p>{{ form.submit(type="submit") }}</p> 
        <!-- <button type="submit"></button> -->
    </form>
{% endblock %}