{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(id="name") }}

        <label for="type">{{ form.type.label }}</label>
        {{ form.type(id="type") }}

        <label for="calories">{{ form.calories.label }}</label>
        {{ form.calories(id="calories") }}

        <label for="ingredients">{{ form.ingredients.label }}</label>
        {{ form.ingredients(id="ingredients") }}

        <label for="allergic">{{ form.allergic.label }}</label>
        {{ form.allergic(id="allergic")}}
       <p>{{ form.submit(type="submit")}}</p> 
        <!-- <button type="submit"></button> -->
        
    </form>
{% endblock %}