{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>Analytics</h2>
        <div>
            <form method="POST">
                {{ form.hidden_tag() }}
                <label for="start-date" id="start-date">{{ form.start_date.label }}</label>
                {{ form.start_date(id="start_date", type="date") }}
                <label for="end-date" id="end-date">{{ form.end_date.label }}</label>
                {{ form.end_date(id="end_date", type="date") }}
                {{ form.submit(type="submit") }}
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>Тип продукта</th>
                <th>Удаленные</th>
                <th>Испортившиеся</th>
                <!-- <th>Потребленные</th> -->
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.type }}</td>
                    <td>{{ product.count_deleted }}</td>
                    <td>{{ product.count_spoiled }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="/">Назад</a>
    </div>
{% endblock %}