{% extends "base.html" %} 
 
{% block content %} 
<form method="GET" class="searchform">
    {{ form.hidden_tag() }}
    {{ form.query(size=20, placeholder="Введите название...") }}
    {{ form.submit() }}
  </form>

  <div class="pagination">
    <button id="prevPage">Назад</button>
    <span id="currentPage">{{ page }}</span>
    <button id="nextPage">Вперёд</button>
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
    <div class = "table2" style="overflow: hidden;"> 
       
    <table class="table22" style="border-collapse: separate; border-spacing: 0;"> 
       
        <thead> 
            
            <tr class="tr2"> 
            <th class="th2">ID</th> 
            <th class="th3">Название</th> 
            <th class="th3">Тип</th> 
            <th class="th3">Количество</th> 
            <th class="th3"> Дата</th> 
            <th class="th4">Срок годности</th> 
            </tr> 
        </thead> 
        <tbody>  
            {% for row in table %}
            {% if row.expired  %} 
           
            <tr> 
                
                <td style='background-color: rgb(180, 98, 114);'> <a href="/product/{{ row.id }}">{{ row.id }}</a></td> 
                <td style='background-color: rgb(180, 98, 114);'>{{ row.name }}</td> 
                <td style='background-color: rgb(180, 98, 114);'>{{ row.type }}</td> 
                <td style='background-color: rgb(180, 98, 114);'>{{ row.count }}</td> 
                <td style='background-color: rgb(180, 98, 114);'>{{ row.produced_date }}</td> 
                <td style='background-color: rgb(180, 98, 114);'>{{ row.last_date }}</td> 
            
            </tr> 
        
            {% else %}
            <tr> 
                
                <td><a href="/product/{{ row.id }}">{{ row.id }}</a></td> 
                <td>{{ row.name }}</td> 
                <td>{{ row.type }}</td> 
                <td>{{ row.count }}</td> 
                <td>{{ row.produced_date }}</td> 
                <td>{{ row.last_date }}</td>        
            </tr> 
            {% endif %}

            {% endfor %} 
        </tbody> 
        </table> 
       
    </div> 
{% endblock %}