{% extends 'base.html' %}
{% block content %}
    <div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
            </svg>
            <span>Back</span>
        </div>

        <div>
            <h1>Product Management</h1>

            <!-- Products Table -->
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>allergic</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.allergic }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <button onclick="deleteProduct('{{ product.id }}')">Удалить продукт</button>
                        <script>
                            function deleteProduct(productId) {
                                fetch(`/api/storage/${productId}`, {
                                    method: 'DELETE'
                                })
                                    .then(response => response.json())
                                    .then(data => alert(data.message))
                                    .catch(error => console.error('Ошибка:', error));
                            }
                        </script>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <!-- Кнопка "Добавить продукт" -->
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <label for="quantity">{{ form.quantity.label }}</label>
                    {{ form.quantity(id="quantity") }}
                    {{ form.submit(type="submit") }}
                </form>
                <!-- Кнопка "Скачать QR-код" -->
                <div onclick="main_return()">
                    <button id="back-btn"><a href="/">Назад</a></button>
                </div>
                <!-- <button id="download-qrcode-btn">Скачать QR-код</button> -->
            </div>

        </div>
    </div>
{% endblock %}
