{% extends 'base.html' %}
{% block content %}
    <main class="w-full max-w-xl mx-auto p-4 relative h-screen flex flex-col gap-4">
        <a href="/" class="rounded-full bg-neutral-50 size-9 flex items-center justify-center my-4">
            <i class="ri-arrow-left-s-fill ri-xl"></i>
        </a>
        <div class="bg-neutral-50 p-4 flex flex-col gap-4 rounded-2xl flex-1 overflow-auto">
            <h1 class="text-2xl font-bold my-2 capitalize">{{ product.name }}</h1>
            <div class="flex flex-col gap-1 items-start">
                <span class="text-neutral-700">Тип</span>
                <p class="font-medium text-lg capitalize">{{ product.type }}</p>
            </div>
            <div class="flex flex-col gap-1 items-start">
                <span class="text-neutral-700">Цена</span>
                <p class="font-medium text-lg">{{ product.price }}</p>
            </div>
            <div class="flex flex-col gap-1 items-start">
                <span class="text-neutral-700">{{ product.type_measurement }}</span>
                <p class="font-medium text-lg">{{ product.measurement }}</p>
            </div>
            <div class="flex flex-col gap-1 items-start">
                <span class="text-neutral-700">Произведён</span>
                <p class="font-medium text-lg">{{ product.produced_date.strftime("%d.%m.%Y") }}</p>
            </div>
            <div class="flex flex-col gap-1 items-start">
                <span class="text-neutral-700">Годен до</span>
                <p class="font-medium text-lg">{{ product.last_date.strftime("%d.%m.%Y") }}</p>
            </div>
            {% if product.allergic %}
                <p class="font-medium">Аллерген!</p>
            {% endif %}
            <div class="flex-1"></div>
        </div>
        {% if not save %}
        <form method="POST" class="flex gap-4 sm:items-center justify-center max-sm:flex-col">
            {{ form.hidden_tag() }}
            {{ form.quantity(id="quantity", placeholder="Количество", class="placeholder-neutral-500 outline-none py-2 sm:w-32") }}
            <button class="flex-1 text-white bg-green-500 rounded-2xl px-6 py-3 flex items-center justify-center gap-1">
                <i class="ri-shopping-basket-2-fill"></i>
                Добавить в список покупок
            </button>
        </form>
        <button class="bg-neutral-50 rounded-2xl px-6 py-3 flex items-center justify-center gap-1" onclick="deleteProduct()">
            <i class="ri-delete-bin-fill"></i>
            Удалить продукт
        </button>
        <script>
            function deleteProduct() {
                const id = "{{ storage_id|safe }}"; // Если id строка, используем кавычки
                fetch(`/api/storage/${id}`, {
                    method: 'DELETE',
                })
                .then(response => {
                    console.log("Success", response);
                    window.location.href = '/';
                })
                .catch(error => console.error('Ошибка:', error));
            }
        </script>        
        {% else %}
        <button class="flex-1 text-white bg-green-500 rounded-2xl px-6 py-3 flex items-center justify-center gap-1"
                    onclick="saveProduct()">
                <i class="ri-save-fill"></i>
                Сохранить продукт
            </button>
            <script>
                function saveProduct() {
                    const qrId = "{{ product.id|safe }}"
                    fetch(`/api/add_qr_product_storage`, {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ qr_id: qrId }),
                        method: 'POST'
                    })
                        .then(() => location.href = '/')
                        .catch(error => console.error('Ошибка:', error));
                }
            </script>
        {% endif %}
    </main>
{% endblock %}
