{% extends 'base.html' %}
{% block content %}
    <div>

        <h1>QR-код товара</h1>

        <!-- Рамка для QR-кода -->
        <div id="qr-code-container">
            <!-- Здесь будет отображаться QR-код -->
            <img src="{{ url_product }}" alt="QR Code" id="qr-code"/>
        </div>

        <!-- Кнопки -->
        <div>
            <!-- Кнопка "Добавить продукт" -->
            <button onclick="saveproduct('{{ qr_id }}')">Добавить продукт</button>
            <script>
                function saveproduct(qr_id) {
                    // console.log(product);
                    fetch(`/api/add_qr_product`, {
                        headers: {
                            'Content-Type': 'application/json'
                        },

                        body: JSON.stringify({qr_id: qr_id}),

                        method: 'POST'
                    })
                        .then(response => response.json())
                        .then(data => alert(data.message))
                        .catch(error => console.error('Ошибка:', error));
                }
            </script>
            <!-- Кнопка "Скачать QR-код" -->
            <button id="download-qrcode-btn">Скачать QR-код</button>
        </div>

        <div>
            <button id="back-btn"><a href='/'> Назад</a></button>
        </div>
    </div>

    <script>
        // Функция для скачивания QR-кода
        document.getElementById('download-qrcode-btn').addEventListener('click', function () {
            const qrCodeImg = document.getElementById('qr-code');
            const link = document.createElement('a');
            link.href = qrCodeImg.src;
            link.download = 'qr-code.png';
            link.click();
        });
    </script>
{% endblock %}